<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div>
	<!-- /** th:objectに使いたいクラスのインスタンスをキャメルケースで記述する　ここでオブジェクトを宣言する **/ -->
		<form action="/register.html" th:action="@{/}"
			th:object="${memberRegistration}" method="POST">
			<div>ユーザ名入力してね</div>
			<div>
				<input type="text" th:field="*{id}" th:required = "required"/><br />
				<span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">いれて</span>
			</div>
			
			<div>パスワード入力してね</div>
			<div>
				<input type="password" th:field="*{password}" th:required = "required"/><br />
				<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">いれて</span>
			</div>
			
			<div>
				<button type="submit">送信</button>
			</div>
		</form>
	</div>
</body>
</html>